<?xml version="1.0"?>

<launch>
    <arg name="robot_id" default="1"/>
    <arg name="sim" default="false"/>
    
    <!-- derived args -->
    <arg name="tf_prefix" value="robot$(arg robot_id)"/>
    <arg name="camera_namespace" value="sensors/kinect2"/>
   


    <group ns="$(arg tf_prefix)" if="$(arg sim)">   

        <!-- Simulated kinect does not produce images as used by people detector. This produces the missing data  -->
        <node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/>  

        <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam" args="load /$(arg tf_prefix)/resize_kinect $(find iliad_launch_system)/config/perception/kinect2_nodelet_resize.yaml" />

        <node pkg="nodelet" type="nodelet" name="resize_kinect" args="load image_proc/resize nodelet_manager --no-bond" respawn="false">
              <remap from="image" to="$(arg camera_namespace)/hd/image_color_rect" />
              <remap from="camera_info" to="$(arg camera_namespace)/hd/camera_info" />              
              <remap from="~image" to="$(arg camera_namespace)/qhd/image_color_rect" />
              <remap from="~camera_info" to="$(arg camera_namespace)/qhd/camera_info" />
        </node>  


        <node name="dynamic_reconfigure_load2" pkg="dynamic_reconfigure" type="dynparam" args="load /$(arg tf_prefix)/resize_kinect2 $(find iliad_launch_system)/config/perception/kinect2_nodelet_resize.yaml" />
        <node pkg="nodelet" type="nodelet" name="resize_kinect2" args="load image_proc/resize nodelet_manager --no-bond" respawn="false">
              <remap from="image" to="$(arg camera_namespace)/sd/image_depth_rect" />
              <remap from="camera_info" to="$(arg camera_namespace)/sd/camera_info" />              
              <remap from="~image" to="$(arg camera_namespace)/qhd/image_depth_rect"/>
        </node>

      <!-- Gazebo has a funny behaviour regarding namespaces/tf/topis. This is a walkaround -->
      <node pkg="tf" type="static_transform_publisher" name="kinect2_gazebo_fix" 
        args="0 0 0 0 0 0 $(arg tf_prefix)/kinect2_depth_optical_frame $(arg tf_prefix)/sensors/kinect2_depth_optical_frame  100" if="$(arg sim)"/>

      <!-- Gazebo has a funny behaviour regarding namespaces/tf/topis. This is a walkaround -->
      <node pkg="tf" type="static_transform_publisher" name="kinect2_gazebo_fix2" 
        args="0 0 0 0 0 0 $(arg tf_prefix)/kinect2_rgb_optical_frame $(arg tf_prefix)/sensors/kinect2_rgb_optical_frame  100" if="$(arg sim)"/>


  </group>
</launch>