<?xml version="1.0"?>
<!-- -*- mode: XML -*- -->
<launch>
  <arg name="robot_id" default="3" />
  <arg name="sim" default="true" />
  <arg name="has_sensor" default="false" />

  <arg name="tf_prefix" value="robot$(arg robot_id)"/>

  <group ns="$(arg tf_prefix)/sensors" unless="$(arg sim)">
    <node pkg="reflex_ros" type="reflex_ros_node" name="reflex_camera" output="screen" if="$(arg has_sensor)">

      <param name="default_mode" type="int" value="1" />
      <param name="draw_detections" type="bool" value="true" />
      <param name="auto_white_balance" type="bool" value="true" />

    </node>
  </group>

</launch>
