<?xml version="1.0"?>

<!-- 
	Launches navigation smoothed_path_service with namespacing
-->

<launch>
    <arg name="robot_id" default="1"/>

    <!-- derived args -->
    <arg name="tf_prefix" value="robot$(arg robot_id)"/>

    <group ns="$(arg tf_prefix)">
        <node pkg="orunav_path_smoother" type="smoothed_path_service" name="smoothed_path_service" output="screen">
          <!-- visualize         visualize_deep         wheel_base         minimize_phi_and_dist         init_controls         use_th_constraints         use_xy_constraints         phi_min         phi_max         reassign_constraints         reassign_iters         reassign_min_distance   are set in  iliad_launch_system/config/robots/cititruck.yaml-->
        </node>  
    </group>

</launch>