<?xml version="1.0"?>
<launch>
  <arg name="robot_id" default="1"/>
  <arg name="robot_type" default="cititruck"/>

    <!-- derived args -->
    <arg name="tf_prefix" value="robot$(arg robot_id)"/>
    <arg name="is_cititruck" value="$(eval arg('robot_type')=='cititruck')"/>
    <arg name="safety_laser_topic" default="laser2d_floor"/>
    <arg name="safety_laser_topic2" default="laser2d_top"/>
    <arg name="use_safetyregions" default="false"/>

    <group ns="$(arg tf_prefix)">

      <node pkg="orunav_mpc" type="controller_node" name="controller" output="screen">
        <param name="robot_id" value="$(arg robot_id)" />
        <remap from="/robot$(arg robot_id)/cmd_vel" to ="/robot$(arg robot_id)/control/controller/cmd_vel"/>
        <remap from="controller/commands" to="control/controller/commands"/>
        <remap from="controller/reports" to ="control/controller/reports"/>
        <remap from="controller/trajectories" to ="control/controller/trajectories"/>
      </node>

      <node pkg="orunav_vehicle_execution" type="orunav_vehicle_execution_node" name="orunav_vehicle_execution_node" output="screen">

        <param name="robot_id" value="$(arg robot_id)" />
        <param name="safety_laser_topic" value="$(arg safety_laser_topic)"/>
        <param name="safety_laser_topic2" value="$(arg safety_laser_topic2)"/>
        <param name="use_safetyregions" value="$(arg use_safetyregions)"/>

        <remap from="/map" to ="/maps/map_laser2d"/>
        <remap from="controller/commands" to="control/controller/commands"/>
        <remap from="controller/reports" to ="control/controller/reports"/>
        <remap from="controller/trajectories" to ="control/controller/trajectories"/>

      </node>
    </group>

</launch>
