Source: ros-kinetic-iliad-distribution
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://iliad-project.eu/
Standards-Version: 3.9.2

Package: ros-kinetic-iliad-distribution
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-frongo, ros-kinetic-frongoweb, ros-kinetic-hrsi-launch, ros-kinetic-hrsi-velocity-costmaps, ros-kinetic-navigation-oru, ros-kinetic-spencer-people-tracking-full
Description: A meta package for the entire ILIAD distribution
