Source: ros-kinetic-iliad-launch-system
Section: misc
Priority: extra
Maintainer: Marc Hanheide <marc@hanheide.net>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-iliad-launch-manipulation, ros-kinetic-iliad-launch-navigation
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-iliad-launch-system
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-iliad-launch-manipulation, ros-kinetic-iliad-launch-navigation
Description: The iliad_launch_system package
